﻿.mdp li a .hover-show {
    display: none;
}

.mdp li a:hover .hover-show {
    display: inline-block;
}

.mdp li a .hover-hide {
    display: inline-block;
}

.mdp li a:hover .hover-hide {
    display: none;
}