﻿<div class="mdp-dialog" ng-controller="RB.MultiDatePicker.Dialog">
    <form name="insertkeyvalue_form" novalidate ng-submit="submit(datepicker.value)">
        <div class="umb-panel">
            <div class="umb-panel-body no-header umb-scrollable">
                <div class="tab-content umb-control-group">
                    <umb-editor model="datepicker"></umb-editor>
                </div>
            </div>
            <div class="umb-panel-footer">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a class="btn btn-link" ng-click="close()">
                        <localize key="cancel" />
                    </a>
                    <button type="submit" class="btn btn-primary" ng-disabled="!insertkeyvalue_form.$valid">
                        <localize key="buttons_save">Save</localize>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>