﻿<div id="mdp-{{model.id}}" class="mdp" ng-controller="RB.MultiDatePicker">
    <ng-form name="contentPickerForm">
        <ul class="unstyled list-icons" ui-sortable ng-model="model.value">
            <li ng-repeat="date in model.value">
                <i class="icon icon-navigation handle"></i>
                <a href="#" prevent-default ng-click="deleteDate($index)">
                    <i class="icon icon-delete red hover-show"></i>
                    <i class="icon icon-calendar hover-hide"></i> 
                    {{date}}
                </a>
            </li>
        </ul>
        <ul class="unstyled list-icons">
            <li>
                <i class="icon icon-add blue"></i>
                <a href="#" ng-click="addDate()" prevent-default>
                    <localize key="general_add">Add</localize>
                </a>
            </li>
        </ul>
    </ng-form>
</div>